<html lang="en" dir="ltr">
<head>
<style>

</style>
		<meta charset="utf-8">
		<title>Nutrtion Analyzer</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='diabetes-favicon.ico') }}">
		<!-- <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"> -->
		<script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
	</head>
	    
		<!-- Result -->
		<div class="results">
		        <p style="padding-top: 150px; color:#1f456d ;"><h4 style="color:#1f456d ;">Food Classified is: <h4><b><h4 style="color:#009cff;"><u>{{showcase1}}<h4><br><h4 style="color:#009cff;"><u>{{showcase}}<h4></p>
			
		</div>
		<br>
		<br>
       
    </div>
	</body>
</html>